.app-about {
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 25%;
    position: absolute;
    padding-bottom: 150px;
}

.about-big-text {
    font-size: calc(10px + 2vmin);
}

.about-big-text h1 {
    margin-block-end: 0em;
}

.about-header-text {
    margin-top: 10px;
}

.about-header-text p {
    margin-block-start: 0.1em;
    margin-block-end: 0em;
}

.about-launch-button {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.about-content-left {
    text-align: left;
}

.about-video-wrapper {
    width: 100%;
}

.about-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-video-wrapper-centered {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    text-align: center;
}

.about-summary-image {
    width: 80%;
    margin: 10px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.about-horizontal-stack {
    display: flex;
    align-items: center;
}

.about-horizontal-stack p {
    margin-right: 10px;
}

.yoda-image {
    position: absolute;
    bottom: -5px;
    left: 5%;
    width: 200px;
}

/* mobile rendering */

@media screen and (max-width: 800px) {
    .app-about {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        left: 0;
        padding-bottom: 150px;
    }

    .about-git-image {
        display: none;
    }

    .about-horizontal-stack {
        display: block;
    }
}
