.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.left-sidebar {
  width: 25%;
  min-width: 315px;
  opacity: 0.9;
  z-index: 100;
  background: gray;
  color: white;
  /* make sidebar scrollable */
  overflow-y: auto; 
}

.right-sidebar {
  max-width: calc(100vw - 315px);
  opacity: 0.9;
  z-index: 100;
  background: gray;
  color: white;
  /* make sidebar scrollable */
  overflow-y: auto;
  transition: width 0.5s, left 0.5s;
  position: absolute;
  top: 0;
  left: 100%;
  width: 35%;
  height: 100%
}

.right-sidebar-button {
  z-index: 101;
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-bar-wrapper {
  display: flex;
  flex-direction: row;
  z-index: 100;
  left: 25%;
  position: relative;
  width: 71%;
  margin: 2%;
}

.search-bar-wrapper {
  width: 88%;
}

.icon-wrapper {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.icon-wrapper-button {
  margin: 5px !important;
}

/* add conditional rendering for mobile views */

@media screen and (max-width: 800px) {
  .left-sidebar {
    width: 33%;
    min-width: initial;
  }

  h1 {
    font-size: 1.5em;
  }

  /* don't show search at all */
  .top-bar-wrapper {
    display: none;
  }

  /* same goes for right sidebar */
  .right-sidebar {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .top-bar-wrapper {
    left: 315px;
    width: calc(96vw - 315px);
  }
}
