.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.left-sidebar {
  width: 25%;
  min-width: 315px;
  opacity: 0.9;
  z-index: 100;
  background: gray;
  color: white;
  /* make sidebar scrollable */
  overflow-y: auto; 
}

.right-sidebar {
  max-width: calc(100vw - 315px);
  opacity: 1;
  z-index: 100;
  background: gray;
  color: white;
  /* make sidebar scrollable */
  overflow-y: auto;
  transition: width 0.5s, left 0.5s;
  position: absolute;
  top: 0;
  left: 100%;
  width: 35%;
  height: 100%
}

.right-sidebar-button-exit {
  z-index: 101;
  position: absolute;
  right: 10px;
  top: 10px;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-bar-wrapper {
  display: flex;
  flex-direction: row;
  z-index: 100;
  left: 25%;
  position: relative;
  width: 71%;
  margin: 2%;
}

.search-bar-wrapper {
  width: 91%;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.icon-wrapper-button {
  margin: 5px !important;
}

.trace-alert-popup {
  position: absolute;
  bottom: 5%;
  left: 100%;
  z-index: 105;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 25%;
  transition: width 0.5s, left 0.5s;
}

.trace-alert-popup-close {
  position: absolute !important;
  top: -20px;
  right: -20px;
}

/* add conditional rendering for mobile views */

@media screen and (max-width: 800px) {
  .left-sidebar {
    width: 33%;
    min-width: initial;
  }

  h1 {
    font-size: 1.5em;
  }

  /* don't show search at all */
  .top-bar-wrapper {
    display: none;
  }

  /* same goes for right sidebar */
  .right-sidebar {
    display: none;
  }

  /* and trace alert popup */
  .trace-alert-popup {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .top-bar-wrapper {
    left: 315px;
    width: calc(96vw - 315px);
  }
}
