.sidebar-flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar-divider {
    width: 100%;
}

.kindness-card-inner {
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    white-space: pre-wrap;
}

/* reduce line height in kindness card */
.kindness-card-inner p {
    margin-block-start: 0em;
}

.kindness-card-description {
    max-height: 200px;
    overflow-y: scroll;
}

.selected-card-wrapper {
    margin-bottom: 20px;
}

.sidebar-clear-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-clear-div h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.sidebar-clear-div p {
    margin-block-start: 0.5em;
}

.sidebar-button-below {
    margin-bottom: 10px !important;
}

.trace-stepper-button-horizontal {
    margin-bottom: 20px;
}

.trace-stepper-button {
    margin-right: 5px !important;
}

.trace-stepper-button-exit {
    margin-bottom: 20px;
}

.sidebar-bottom-content {
    display: flex;
    width: 100%;
    min-width: 315px;
    flex-direction: column;
    left: 0;
}

.sidebar-small-text {
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0.3em;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.sidebar-git-image {
    width: 40px;
}

.sidebar-info-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 10px;
}

.sidebar-info-left {
    width: 20%
}

.sidebar-info-right {
    width: 80%;
    text-align: left;
}

.sidebar-info-right p {
    font-size: 1.3em;
}

/* add conditional rendering for mobile views */

@media screen and (max-width: 800px) {
    .sidebar-bottom-content {
        display: none;
    }

    /* remove max height on mobile to avoid double scroll */
    .kindness-card-description {
        max-height: none;
    }

    /* don't show left sidebar icons on mobile */
    .sidebar-info-left {
        display: none;
    }

    /* reduce sidebar row margin on mobile */
    .sidebar-info-row {
        margin-bottom: 0px;
        padding-right: 0px;
    }

    /* don't show toggle row on mobile */
    .sidebar-info-row-toggle {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .sidebar-bottom-content {
        display: flex;
    }
}

@media screen and (min-height: 810px) {
    .sidebar-bottom-content {
        position: absolute;
        bottom: 5px;
        width: 25%;
    }
}
